{% extends "layouts/base.html" %}

{% block head %}
<!--put index-specific style sheets here-->
{% endblock %}

{% block body %}

<h1>The Blog</h1>

<section id="featured-post">
  <div class="section-container">
    <h2>Featured Post:</h2>
    <div class="blog-card-large">
      <img class="featured-image" src="" alt="">
      <h3 class="title">title</h3>
      <p class="author">author</p>
      <p class="date">date</p>
      <p class="excerpt">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque, nesciunt. Quod ex, ab porro vero molestiae quisquam, maiores voluptas odit in culpa quaerat amet obcaecati officiis? Debitis eveniet perferendis est!</p>
    </div>
  </div>
</section>

<section id="post-listing">
  <div class="section-container">
    <h2>All Posts</h2>
    <ul>
      <li>
        {% include 'components/blog-card.html' %}
      </li>
      <li>
        {% include 'components/blog-card.html' %}
      </li>
      <li>
        {% include 'components/blog-card.html' %}
      </li>
    </ul>
  </div>
</section>

<section id="recent-authors">
  <div class="section-container">
    <h2>Recent Authors</h2>
    <div class="carousel-window">
      <div class="carousel-scroller">
        <ul class="author-card-list">
          <li class="author-li">
            {% include 'components/author-card.html' %}
          </li>
          <li class="author-li">
            <div class="author-card">
              <img class="icon" src="" alt="">
              <h3 class="name">Author Name</h3>
              <p class="topics">topic 1</p>
            </div>
          </li>
          <li class="author-li">
            {% include 'components/author-card.html' %}
          </li>
          <li class="author-li">
            {% include 'components/author-card.html' %}
          </li>
          <li class="author-li">
            {% include 'components/author-card.html' %}
          </li>
          <li class="author-li">
            {% include 'components/author-card.html' %}
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

{% endblock %}