---
permalink: "/"
---

{% extends "layouts/base.html" %}

{% block head %}
<!--put index-specific style sheets here-->
{% endblock %}

{% block body %}

<h1>The Blog</h1>

<section id="featured-post">
  <div class="section-container">
    <h2>Featured Post:</h2>
    <div id="featured-post-wrapper">
    </div>
  </div>
</section>

<section id="post-listing">
  <div class="section-container">
    <h2>All Posts</h2>
    <ul id="post-list">
    </ul>
  </div>
</section>

<section id="recent-authors">
  <div class="section-container">
    <h2>Recent Authors</h2>
    <div class="carousel-window">
      <div class="carousel-scroller">
        <ul class="author-card-list">
          <li class="author-li">
            {% include 'components/author-card.html' %}
          </li>
          <li class="author-li">
            {% include 'components/author-card.html' %}
          </li>
          <li class="author-li">
            {% include 'components/author-card.html' %}
          </li>
          <li class="author-li">
            {% include 'components/author-card.html' %}
          </li>
          <li class="author-li">
            {% include 'components/author-card.html' %}
          </li>
          <li class="author-li">
            {% include 'components/author-card.html' %}
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<script src="assets/js/pages/home.js"></script>

{% endblock %}